
<%= link_to "Submit a brewery", new_brewery_path %>

<%= form_tag breweries_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<div class="order_by">
	<%= sortable "name", "brewery name" %>
	<%= sortable "year_opened", "Year" %>
</div>

<ul id="breweries">
<% @breweries.each do |brewery| %>
	<li class="row">
		<%= link_to brewery_path(brewery) do %>
			<%= image_tag brewery.image.url(:thumb), class: "c2" %>
			<div class="c10 brewery">
				<h1><%= brewery.name %></h1>
				<p><%= brewery.address %></p>
			</div>
		<% end %>
	</li>
<% end %>
</ul>
