


<%= form_tag breweries_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<ul class="location">
<% @breweries.each do |brewery| %>
	<li>
		<h3><%= link_to brewery[:name], brewery_path(brewery) %></h3>
		<p><%= brewery.brewery_type %></p>
		<p><%= brewery.drink_at_brewery %></p>
	</li>
<% end %>
</ul>
