<!DOCTYPE html>
<html>
<head>
  <title>Real Good Beer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<header>
	<div class="wrapper">
		<div id="logo">
			<%= link_to "Real Good Beer", root_path %>
		</div>
		<nav>
			<ul>
				<li><%= link_to "Breweries", breweries_path %></li>
			</ul>
		</nav>
	</div>
</header>

<div id="content">
	<div class="wrapper">
		<% flash.each do |key, value| %>
			<div class="<%= key %>">
				<p><%= value %></p>
			</div>
		<% end %>
		</div>
	<%= yield %>
</div>

</body>
</html>
